<footer class="main-footer">
  <div class="container clearfix">
        <a class="icon-rss" href="{{ "post/index.xml" | absURL }}" title="RSS"></a>
        <p>&copy; {{ now.Format "2006" }} &middot; {{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>window.jQuery || document.write('<script src="{{ "js/vendor/jquery-1.12.3.min.js" | absURL }}"><\/script>')</script>
<script src="{{ "js/plugins.js" | absURL }}"></script>

{{ range .Site.Params.custom_js }}
<link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

{{ template "_internal/google_analytics.html" . }}
</body>
</html>
